.main {
    padding: 48px 12px;
    max-width: var(--max-width);
    margin: 0px auto;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.courseName {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;

    @media screen and (min-width: 768px) {
        font-size: 1.5rem;
    }

    @media screen and (min-width: 1024px) {
        font-size: 2rem
    }
}

.courseDateRange {
    font-size: 1rem;
    font-weight: 400;
}

.courseCampus {
    font-size: 1rem;
    font-weight: 400;
}